* {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 5%;
    text-align: center;
}

button {
    color: blueviolet;
    padding: 20px;
    border-radius:20px;
    outline: none;
    border: 0;
}
#generate:hover {
    background-color: beige;
}

#generate:active {
    background-color: darkslateblue;
}

section {
    display: flex;
    justify-content: start;
    width: 440px;
    margin: 40px auto;
    flex-wrap: wrap;
}

textarea {
    border: 1px solid blueviolet;
    border-radius: 20px;
    outline: none;
    text-align: center;
    color: darkslateblue;
}

textarea:hover,focus,active {
    border: 1px solid blueviolet;
    border-radius: 20px;
    outline: none;
    text-align: center;
}